// Agregar el prefijo +34 al teléfono
          telefono = "+34" + telefono;

          // Crear el objeto JSON con los datos de la cita
          const citaData = {
            usuario: nombre,
            telefono: telefono,
            fecha: selectedDate,
            hora: selectedTime
          };

          // Hacer la llamada al backend para crear la cita
          fetch('/add_cita', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(citaData) // Enviar los datos de la cita
          })
            .then((response) => {
              if (!response.ok) {
                throw new Error("Error del servidor: " + response.status);
              }
              return response.json();
            })
            .then((data) => {
              alert("Cita confirmada con éxito");
              console.log("Respuesta del servidor:", data);

              // Formatear la fecha a DD/MM/YYYY usando Moment.js
              const formattedDate = moment(selectedDate).format("DD/MM/YYYY");

              // Crear el mensaje de WhatsApp
              const mensaje = `Hola ${nombre}, tu cita ha sido confirmada para el ${formattedDate} a las ${selectedTime}. ¡Te esperamos en la Barbería!`;
              const whatsappURL = `https://wa.me/${telefono}?text=${encodeURIComponent(mensaje)}`;

              // Abrir WhatsApp con el mensaje
              window.open(whatsappURL, '_blank');

              // Redirigir al index después de confirmar la cita
              window.location.href = '/modelo1'; // Aquí puedes poner la URL de tu página de inicio
            })
            .catch((error) => {
              console.error("Error al crear la cita:", error);
              alert("Hubo un error al crear la cita.");
            });
        });
      });
    </script>
  </body>
</html>